@media (max-width: 1350px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 510px;
            column-gap: 40px;
        }
        &__descr {
            padding-right: 40px;
        }
        &__skills {
            grid-template-columns: repeat(2,250px);;
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 345px);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
            justify-content: center;
        }
        &__ratings {
            margin-top: 80px;
            grid-template-columns: repeat(2, 350px);
            justify-content: center;
            column-gap: 100px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__descr {
            padding-right: 0;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .pageup {
        bottom: 10px;
        right: 10px;
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 225px);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
        &__ratings {
            grid-template-columns: repeat(2, 310px);
            column-gap: 50px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 375px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto/ 1fr;
        }
        &__photo {
            grid-row: unset
        }
        &__skills {
            grid-template-columns: repeat(2, 240px);
            column-gap: 30px;
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 410px;
            row-gap: 60px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
        &__ratings {
            grid-template-columns: 400px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 22px;
            width: 300px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .promo {
        background: url('../img/main_background.jpg') no-repeat 30% / cover;
        &__btns {
            margin-top: 35px;
        }
    }
    .menu {
        &__block {
            padding-left: 20px;
            width: 250px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto/ 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 50px 0 0 5px;
            grid-template-columns: 275px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: 270px;
        }
        &__ratings {
            grid-template-columns: 300px;
        }
    }
}