.sidepanel {
    position: fixed;
    top: 200px;
    left: 20px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    &__link {
        &:hover {
            text-decoration: none;
        }
    }
    &__icon {
        font-size: 23px;
        color: #fff;
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #fff;
    }
    &__text {
        margin-top: 10px;
        transform: rotate(-90deg);
        color: #fff;
    }
}